Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data

In [45]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [55]:
driver=webdriver.Chrome('chromedriver.exe')

In [47]:
url='https://www.naukri.com/'
driver.get(url)

In [4]:
search_job=driver.find_element_by_class_name("suggestor-input ")
search_job

In [5]:
search_job.send_keys("Data Analyst")

In [6]:
search_location=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_location

In [7]:
search_location.send_keys("Bangalore")

In [8]:
search_button=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_button

In [9]:
search_button.click()

In [54]:
title_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)

20

In [12]:
job_titles=[]
for i in title_tags:
    job_titles.append(i.text)
job_titles[0:10]

['Hiring For Data Analyst I(SQL & Python)',
 'Senior Data Analyst',
 'Senior Data Analyst II',
 'Senior Data Analyst II',
 'Hiring Data analyst with Pharma Background across India',
 'Data Coordinator | Data Analyst | MS Excel | Typing | Bangalore',
 'Data Analyst',
 'Data Analyst',
 'Consultant - Data Analyst',
 'software developer & Testing / Business Analyst/Data Analyst/Python.']

In [55]:
locn_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(locn_tags)

20

In [14]:
job_location=[]
for i in locn_tags:
    job_location.append(i.text)
job_location[0:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru(Sadashiva Nagar)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Pune, Bangalore/Bengaluru(Shivaji Nagar), Mumbai (All Areas)\n(WFH during Covid)']

In [56]:
company_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(company_tags)

20

In [16]:
company_names=[]
for i in company_tags:
    company_names.append(i.text)
company_names[0:10]

['Clario India Pvt Ltd',
 'Flipkart',
 'Flipkart',
 'Flipkart',
 'HCL',
 'Inspiration Manpower Consultancy Pvt. Ltd.',
 'Flipkart',
 'Flipkart',
 'Flipkart',
 'SECRET TECHNOLOGIES INDIA VMS GROUP']

In [57]:
exp_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(exp_tags)

20

In [22]:
experience=[]
for i in exp_tags:
    experience.append(i.text)
experience[0:10]

['0-2 Yrs',
 '3-8 Yrs',
 '2-4 Yrs',
 '2-4 Yrs',
 '6-11 Yrs',
 '1-2 Yrs',
 '1-2 Yrs',
 '1-3 Yrs',
 '0-4 Yrs',
 '5-7 Yrs']

In [24]:
len(job_titles),len(job_location),len(company_names),len(experience)

(20, 20, 20, 19)

In [31]:
jobs=pd.DataFrame()
jobs['Job Titles']=job_titles[0:10]
jobs['Location']=job_location[:10]
jobs['Company Name']=company_names[:10]
jobs['Experience']=experience[:10]
jobs

,Job Titles,Location,Company Name,Experience
0,Hiring For Data Analyst I(SQL & Python),Bangalore/Bengaluru,Clario India Pvt Ltd,0-2 Yrs
1,Senior Data Analyst,Bangalore/Bengaluru,Flipkart,3-8 Yrs
2,Senior Data Analyst II,Bangalore/Bengaluru,Flipkart,2-4 Yrs
3,Senior Data Analyst II,Bangalore/Bengaluru,Flipkart,2-4 Yrs
4,Hiring Data analyst with Pharma Background acr...,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",HCL,6-11 Yrs
5,Data Coordinator | Data Analyst | MS Excel | T...,Bangalore/Bengaluru(Sadashiva Nagar),Inspiration Manpower Consultancy Pvt. Ltd.,1-2 Yrs
6,Data Analyst,Bangalore/Bengaluru,Flipkart,1-2 Yrs
7,Data Analyst,Bangalore/Bengaluru,Flipkart,1-3 Yrs
8,Consultant - Data Analyst,Bangalore/Bengaluru,Flipkart,0-4 Yrs
9,software developer & Testing / Business Analys...,"Pune, Bangalore/Bengaluru(Shivaji Nagar), Mumb...",SECRET TECHNOLOGIES INDIA VMS GROUP,5-7 Yrs

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps

In [32]:
search_job=driver.find_element_by_class_name("suggestor-input ")
search_job

In [33]:
search_job.send_keys("Data scientist")

In [34]:
search_location=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_location

In [35]:
search_location.send_keys("Bangalore")

In [36]:
search_button=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_button

In [37]:
search_button.click()

In [47]:
title_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)
job_name=[]
for i in title_tags:
    job_name.append(i.text)
job_name[0:10]

['Data Scientist',
 'Data Scientist',
 'Need Data scientists and data engineers - WFH- less than 30days notice',
 'Senior/ Lead Data Scientist',
 'Data Scientist / Analyst',
 'Forecasting Analyst/ Data Scientist (US Client)',
 'Hiring Data Scientist - Analytics',
 'Computer Vision Python Data Scientist',
 'Data Scientist',
 'Excellent Opportunity For Freshers For AI/ML, Data Scientist, BI, QA']

In [48]:
locn_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(locn_tags)
job_loctn=[]
for i in locn_tags:
    job_loctn.append(i.text)
job_loctn[0:10]

['Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Mumbai (All Areas)\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru, Mumbai (All Areas)',
 'Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Noida, Kolkata, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)']

In [49]:
company_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(company_tags)
cmpny_names=[]
for i in company_tags:
    cmpny_names.append(i.text)
cmpny_names[0:10]

['HDFC Bank',
 'Shell',
 'Covalense Technologies Private Limited',
 'AmoliTalents',
 'open data fabric',
 'Concentrix',
 'Firstsource Solutions Limited',
 'OceanOfWeb',
 'Minions Ventures',
 'NTT Data']

In [52]:
len(job_name),len(job_loctn),len(cmpny_names)

(20, 20, 20)

In [53]:
jobs=pd.DataFrame()
jobs['Job Titles']=job_name[0:10]
jobs['Location']=job_loctn[:10]
jobs['Company Name']=cmpny_names[:10]
jobs

,Job Titles,Location,Company Name
0,Data Scientist,"Pune, Gurgaon/Gurugram, Chennai, Bangalore/Ben...",HDFC Bank
1,Data Scientist,Bangalore/Bengaluru,Shell
2,Need Data scientists and data engineers - WFH-...,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M...",Covalense Technologies Private Limited
3,Senior/ Lead Data Scientist,Bangalore/Bengaluru,AmoliTalents
4,Data Scientist / Analyst,Bangalore/Bengaluru,open data fabric
5,Forecasting Analyst/ Data Scientist (US Client),"Gurgaon/Gurugram, Bangalore/Bengaluru\n(WFH du...",Concentrix
6,Hiring Data Scientist - Analytics,"Bangalore/Bengaluru, Mumbai (All Areas)",Firstsource Solutions Limited
7,Computer Vision Python Data Scientist,"Mumbai, Hyderabad/Secunderabad, Pune, Chennai,...",OceanOfWeb
8,Data Scientist,Bangalore/Bengaluru,Minions Ventures
9,"Excellent Opportunity For Freshers For AI/ML, ...","Noida, Kolkata, Hyderabad/Secunderabad, Pune, ...",NTT Data

Q3: In this question you have to scrape data using the filters available on the webpage as shown below

In [2]:
driver=webdriver.Chrome('chromedriver.exe')

In [59]:
url='https://www.naukri.com/'
driver.get(url)

In [67]:
search_job=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input")
search_job

In [68]:
search_job.send_keys('Data Scientist')

In [69]:
search_btn=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_btn

In [71]:
search_btn.click()

In [72]:
loctn_filter=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/i')
loctn_filter

In [73]:
loctn_filter.click()

In [74]:
salary_filter=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i')
salary_filter

In [75]:
salary_filter.click()

In [78]:
title=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title)

20

In [83]:
Titles=[]
for i in title:
    Titles.append(i.text)
Titles[:10]

['Excellent Opportunity For Freshers For AI/ML, Data Scientist, BI, QA',
 'Data Analyst / Data Scientist / Business Analytics / Fresher - MNC',
 'Hiring For Senior Data Scientist-Noida',
 'Data Scientist _NLP',
 'Junior Data Analyst/ Scientist- Fresher Position',
 'Data Scientist - MIND Infotech',
 'Data Scientist - MIND Infotech',
 'Only Fresher / Python Data Scientist / Trainee / Analytics - MNC Jobs',
 'Lead Data Scientist',
 'Urgent Requirement || Data Scientist || Noida']

In [80]:
loctn_tag=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(loctn_tag)

20

In [84]:
Location=[]
for i in loctn_tag:
    Location.append(i.text)
Location[:10]

['Noida, Kolkata, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)',
 'Noida, New Delhi, Delhi / NCR',
 'Noida, New Delhi, Greater Noida',
 'Bangalore/Bengaluru, Delhi / NCR\n(WFH during Covid)',
 'Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)',
 'Noida',
 'Noida',
 'Noida, New Delhi, Gurgaon/Gurugram',
 'Delhi / NCR\n(WFH during Covid)',
 'Noida, Delhi / NCR']

In [85]:
comp_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(comp_tags)
cmp_names=[]
for i in comp_tags:
    cmp_names.append(i.text)
cmp_names[:10]

['NTT Data',
 'GABA Consultancy services',
 'Lumiq.ai',
 'EXL',
 'Sejal Consulting Hub',
 'MOTHERSONSUMI INFOTECH & DESIGNS LIMITED',
 'MOTHERSONSUMI INFOTECH & DESIGNS LIMITED',
 'GABA Consultancy services',
 'Indihire HR Consultants Private Limited',
 'HCL']

In [90]:
exp_tag=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(exp_tag)
exp=[]
for i in exp_tag:
    exp.append(i.text)
exp[0:10]

['0-0 Yrs',
 '0-0 Yrs',
 '2-6 Yrs',
 '3-8 Yrs',
 '0-3 Yrs',
 '4-8 Yrs',
 '4-8 Yrs',
 '0-0 Yrs',
 '2-4 Yrs',
 '3-8 Yrs']

In [92]:
Jobs=pd.DataFrame()
Jobs['Job Titles']=Titles[0:10]
Jobs['Location']=Location[:10]
Jobs['Company Name']=cmp_names[:10]
Jobs['Experience']=exp[:10]
Jobs

,Job Titles,Location,Company Name,Experience
0,"Excellent Opportunity For Freshers For AI/ML, ...","Noida, Kolkata, Hyderabad/Secunderabad, Pune, ...",NTT Data,0-0 Yrs
1,Data Analyst / Data Scientist / Business Analy...,"Noida, New Delhi, Delhi / NCR",GABA Consultancy services,0-0 Yrs
2,Hiring For Senior Data Scientist-Noida,"Noida, New Delhi, Greater Noida",Lumiq.ai,2-6 Yrs
3,Data Scientist _NLP,"Bangalore/Bengaluru, Delhi / NCR\n(WFH during ...",EXL,3-8 Yrs
4,Junior Data Analyst/ Scientist- Fresher Position,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Sejal Consulting Hub,0-3 Yrs
5,Data Scientist - MIND Infotech,Noida,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,4-8 Yrs
6,Data Scientist - MIND Infotech,Noida,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,4-8 Yrs
7,Only Fresher / Python Data Scientist / Trainee...,"Noida, New Delhi, Gurgaon/Gurugram",GABA Consultancy services,0-0 Yrs
8,Lead Data Scientist,Delhi / NCR\n(WFH during Covid),Indihire HR Consultants Private Limited,2-4 Yrs
9,Urgent Requirement || Data Scientist || Noida,"Noida, Delhi / NCR",HCL,3-8 Yrs

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
The attributes which you have to scrape is ticked marked in the below image.

In [3]:
url2='https://www.flipkart.com/'
driver.get(url2)

In [4]:
search_bar=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_bar

In [5]:
search_bar.send_keys("sunglasses")

In [6]:
search_btn=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_btn

In [8]:
search_btn.click()

In [35]:
brand_tag=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
brand=[]
for i in brand_tag:
    brand.append(i.text)
brand

['PIRASO',
 'PIRASO',
 'SRPM',
 'SUNBEE',
 'PIRASO',
 'PIRASO',
 'DEIXELS',
 'VINCENT CHASE',
 'Elligator',
 'New Specs',
 'Fastrack',
 'AISLIN',
 'SHAAH COLLECTIONS',
 'kingsunglasses',
 'GANSTA',
 'ROYAL SON',
 'PIRASO',
 'Lee Topper',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'Fastrack',
 'Lee Topper',
 'Silver Kartz',
 'VINCENT CHASE',
 'PIRASO',
 'Fastrack',
 'kingsunglasses',
 'ROYAL SON',
 'Fastrack',
 'Elligator',
 'PIRASO',
 'Singco India',
 'SRPM',
 'kingsunglasses',
 'IDEE',
 'PIRASO',
 'SRPM',
 'SUNBEE',
 'ROYAL SON',
 'VINCENT CHASE']

In [36]:
prdct_tag=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
product=[]
for i in prdct_tag:
    product.append(i.text)
product

['UV Protection Aviator Sunglasses (55)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Gradient Butterfly, Over-sized Sunglasse...',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection, Riding Glasses, Mirrored Wayfarer Sungla...',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (53)',
 'Polarized, UV Protection Aviator Sunglasses (57)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Polarized, Night Vision, Riding Glasses Sports, Wrap-ar...',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Riding Glasses Wrap-around Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'UV Protection Wayfarer Sunglasses (55)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, UV Protection Round Sunglasses (52)',
 'Polarized Retro Square Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Wayfarer Sunglasses (32)',
 'Mirrored, Riding Glasses, Others Sports Sunglasses (50)',
 'Others Wayfarer, Retro Square Sunglasses (50)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (59)',
 'UV Protection Rectangular, Over-sized Sunglasses (Free ...',
 'UV Protection Wayfarer Sunglasses (53)',
 'UV Protection, Polarized, Mirrored Round Sunglasses (Fr...',
 'Mirrored Aviator Sunglasses (55)',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...']

In [37]:
price_tag=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
prce=[]
for i in price_tag:
    prce.append(i.text)
prce

['₹200',
 '₹299',
 '₹148',
 '₹203',
 '₹179',
 '₹175',
 '₹152',
 '₹749',
 '₹208',
 '₹182',
 '₹629',
 '₹625',
 '₹115',
 '₹134',
 '₹148',
 '₹709',
 '₹175',
 '₹149',
 '₹424',
 '₹376',
 '₹549',
 '₹225',
 '₹183',
 '₹949',
 '₹175',
 '₹629',
 '₹189',
 '₹709',
 '₹548',
 '₹139',
 '₹175',
 '₹144',
 '₹128',
 '₹136',
 '₹929',
 '₹275',
 '₹170',
 '₹234',
 '₹329',
 '₹949']

In [38]:
dcnt_tag=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
discnt=[]
for i in dcnt_tag:
    discnt.append(i.text)
discnt

['87% off',
 '88% off',
 '88% off',
 '84% off',
 '88% off',
 '89% off',
 '87% off',
 '70% off',
 '91% off',
 '92% off',
 '21% off',
 '75% off',
 '93% off',
 '88% off',
 '91% off',
 '64% off',
 '89% off',
 '85% off',
 '78% off',
 '85% off',
 '31% off',
 '90% off',
 '87% off',
 '52% off',
 '89% off',
 '30% off',
 '90% off',
 '64% off',
 '31% off',
 '86% off',
 '89% off',
 '90% off',
 '87% off',
 '86% off',
 '62% off',
 '90% off',
 '82% off',
 '86% off',
 '78% off',
 '52% off']

In [39]:
len(brand),len(product),len(prce),len(discnt)

(40, 40, 40, 40)

In [40]:
next_btn_tag=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
next_btn_tag.click()

In [41]:
brand_tag2=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
brand2=[]
for i in brand_tag2:
    brand2.append(i.text)
brand2

['kingsunglasses',
 'ROZZETTA CRAFT',
 'PHENOMENAL',
 'PIRASO',
 'Elligator',
 'New Specs',
 'Lee Topper',
 'PIRASO',
 'PIRASO',
 'Rich Club',
 'Silver Kartz',
 'PIRASO',
 'IDEE',
 'PIRASO',
 'DEIXELS',
 'PIRASO',
 'SRPM',
 'SUNBEE',
 'Lee Topper',
 'ROZZETTA CRAFT',
 'PIRASO',
 'IDEE',
 'IDEE',
 'AISLIN',
 'Singco India',
 'New Specs',
 'PHENOMENAL',
 'PIRASO',
 'Mi',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'VINCENT CHASE',
 'hipe',
 'kingsunglasses',
 'Rich Club',
 'VINCENT CHASE',
 'Fastrack',
 'SHAAH COLLECTIONS',
 'AISLIN',
 'ROYAL SON']

In [42]:
prdct_tag2=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
product2=[]
for i in prdct_tag2:
    product2.append(i.text)
product2

['UV Protection Round Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Riding Glasses, Night Vision Wrap-around Sunglasses (Fr...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Polarized Round Sunglasses (48)',
 'UV Protection Aviator Sunglasses (88)',
 'UV Protection Aviator Sunglasses (55)',
 'UV Protection Cat-eye Sunglasses (17)',
 'Mirrored Aviator Sunglasses (32)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'Night Vision, UV Protection Round Sunglasses (54)',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'UV Protection, Riding Glasses Retro Square, Spectacle ...',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Butterfly Sunglasses (60)',
 'UV Protection Cat-eye Sunglasses (17)',
 'UV Protection Over-sized Sunglasses (57)',
 'UV Protection, Gradient Butterfly, Over-sized Sunglasse...',
 'Mirrored, Riding Glasses, Others Sports Sunglasses (50)',
 'UV Protection, Mirrored Sports Sunglasses (Free Size)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection Wayfarer Sunglasses (55)',
 'Polarized Aviator Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (58)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'UV Protection, Gradient, Mirrored, Riding Glasses Aviat...',
 'Mirrored, UV Protection Aviator Sunglasses (56)',
 'Polarized Round Sunglasses (48)',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Gradient Retro Square Sunglasses (58)',
 'Polarized, UV Protection Round Sunglasses (52)']

In [30]:
price_tag2=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
prce2=[]
for i in price_tag2:
    prce2.append(i.text)
prce2

['₹213',
 '₹239',
 '₹159',
 '₹175',
 '₹329',
 '₹131',
 '₹239',
 '₹175',
 '₹126',
 '₹424',
 '₹278',
 '₹200',
 '₹133',
 '₹208',
 '₹249',
 '₹249',
 '₹125',
 '₹234',
 '₹277',
 '₹709',
 '₹299',
 '₹325',
 '₹226',
 '₹175',
 '₹192',
 '₹329',
 '₹149',
 '₹749',
 '₹149',
 '₹929',
 '₹859',
 '₹281',
 '₹144',
 '₹325',
 '₹325',
 '₹709',
 '₹869',
 '₹959',
 '₹149',
 '₹275']

In [43]:
dcnt_tag2=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
discnt2=[]
for i in dcnt_tag2:
    discnt2.append(i.text)
discnt2

['85% off',
 '80% off',
 '86% off',
 '89% off',
 '91% off',
 '91% off',
 '90% off',
 '89% off',
 '84% off',
 '74% off',
 '83% off',
 '87% off',
 '61% off',
 '90% off',
 '70% off',
 '88% off',
 '85% off',
 '84% off',
 '74% off',
 '85% off',
 '87% off',
 '61% off',
 '62% off',
 '75% off',
 '90% off',
 '91% off',
 '86% off',
 '89% off',
 '20% off',
 '71% off',
 '82% off',
 '52% off',
 '84% off',
 '86% off',
 '76% off',
 '52% off',
 '21% off',
 '86% off',
 '73% off',
 '64% off']

In [44]:
len(brand2),len(product2),len(prce2),len(discnt2)

(40, 40, 40, 40)

In [46]:
next_btn_tag2=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]')
next_btn_tag2.click()

In [48]:
brand_tag3=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
brand3=[]
for i in brand_tag3:
    brand3.append(i.text)
brand3[0:20]

['IDEE',
 'SUNBEE',
 'hipe',
 'PIRASO',
 'Elligator',
 'PHENOMENAL',
 'Silver Kartz',
 'PIRASO',
 'Rich Club',
 'Fastrack',
 'elegante',
 'VINCENT CHASE',
 'Fastrack',
 'Poloport',
 'Elligator',
 'VINCENT CHASE',
 'GANSTA',
 'Fastrack',
 'kingsunglasses',
 'VINCENT CHASE']

In [49]:
prdct_tag3=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
product3=[]
for i in prdct_tag3:
    product3.append(i.text)
product3[0:20]

['UV Protection Aviator Sunglasses (18)',
 'UV Protection, Polarized, Mirrored Retro Square Sunglas...',
 'Mirrored, UV Protection, Gradient Round Sunglasses (55)',
 'UV Protection Aviator Sunglasses (58)',
 'Mirrored Round Sunglasses (53)',
 'UV Protection, Mirrored Clubmaster Sunglasses (Free Siz...',
 'UV Protection Oval Sunglasses (56)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Polarized Oval, Retro Square Sunglasses ...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Over-sized Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Retro Square, Round Sunglasses (54)',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'Night Vision, Riding Glasses Wayfarer Sunglasses (53)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'Mirrored, UV Protection Wayfarer Sunglasses (53)',
 'by Lenskart Polarized, UV Protection Rectangular Sungla...']

In [50]:
price_tag3=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
prce3=[]
for i in price_tag3:
    prce3.append(i.text)
prce3[0:20]

['₹929',
 '₹180',
 '₹139',
 '₹299',
 '₹229',
 '₹257',
 '₹219',
 '₹175',
 '₹129',
 '₹759',
 '₹349',
 '₹949',
 '₹699',
 '₹186',
 '₹261',
 '₹949',
 '₹148',
 '₹649',
 '₹208',
 '₹669']

In [51]:
dcnt_tag3=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
discnt3=[]
for i in dcnt_tag3:
    discnt3.append(i.text)
discnt3[:20]

['62% off',
 '86% off',
 '90% off',
 '88% off',
 '90% off',
 '87% off',
 '81% off',
 '89% off',
 '74% off',
 '15% off',
 '76% off',
 '52% off',
 '12% off',
 '90% off',
 '86% off',
 '52% off',
 '91% off',
 '35% off',
 '89% off',
 '66% off']

In [52]:
len(brand3),len(product3),len(prce3),len(discnt3)

(40, 40, 40, 40)

In [44]:
sunglass_details=pd.DataFrame()
sunglass_details['Brand name']=brand,brand2,brand3
sunglass_details['Productdetails']=product,product2,product2
sunglass_details['Price']=prce,prce2,prce3
sunglass_details['Discount']=discnt,discnt2,discnt3
sunglass_details

NameError: name 'brand' is not defined

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-power- adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC TSVZAXUHGREPBFGI&marketplace.
When you will open the above link you will reach to the below shown webpage .

In [56]:
url='https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-power- adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC TSVZAXUHGREPBFGI&marketplace'

In [58]:
driver.get(url)

In [59]:
seeall_rvw=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[8]/div/div/div[5]/div/a/div/span')
seeall_rvw

In [61]:
seeall_rvw.click()

In [65]:
ratng=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
rating=[]
for i in ratng:
    rating.append(i.text)
rating

['5', '5', '5', '5', '5', '5', '5', '4', '5', '5']

In [66]:
rvwsummry=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
review_sum=[]
for i in rvwsummry:
    review_sum.append(i.text)
review_sum

['Brilliant',
 'Simply awesome',
 'Best in the market!',
 'Perfect product!',
 'Fabulous!',
 'Worth every penny',
 'Great product',
 'Good choice',
 'Worth every penny',
 'Highly recommended']

In [67]:
full_rvw=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
fullreview=[]
for i in full_rvw:
    fullreview.append(i.text)
fullreview

['The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow']

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price

In [76]:
url2='https://www.flipkart.com/'

In [83]:
driver.get(url2)

In [84]:
search=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search.send_keys("sneakers")

In [86]:
search_btn=driver.find_element_by_xpath('/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_btn.click()

In [87]:
brnd=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
brnds=[]
for i in brnd:
    brnds.append(i.text)
brnds

['BAUCHHAAR',
 'HOTSTYLE',
 'Magnolia',
 'Chevit',
 'DUNKASTON',
 'BRUTON',
 'World Wear Footwear',
 'KWIK FIT',
 'KWIK FIT',
 'corsac',
 'URBANBOX',
 'RapidBox',
 'D-SNEAKERZ',
 'TR',
 'World Wear Footwear',
 'Echor',
 'Kraasa',
 'BRUTON',
 'Shoes Bank',
 'RapidBox',
 'BRUTON',
 'Magnolia',
 'BRUTON',
 'HOTSTYLE',
 'Labbin',
 'RapidBox',
 'BRUTON',
 'HIGHLANDER',
 'aadi',
 'BRUTON',
 'luxury fashion',
 'PUMA',
 'SCATCHITE',
 'India hub',
 'CLYMB',
 'HIGHLANDER',
 'Kraasa',
 'Rzisbo',
 'Magnolia',
 'HIGHLANDER']

In [88]:
prodct=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
productinfo=[]
for i in prodct:
    productinfo.append(i.text)
productinfo

['sports shoes for men | Latest Stylish Casual sneakers f...',
 'CR-1 Sneakers For Men',
 'Sneakers For Men',
 'Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...',
 'Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 '5011-Latest Collection Stylish Casual Loafer Sneakers S...',
 'Kwik FIT casual sneaker shoes and partywear shoes Casua...',
 'Kwik FIT casual sneaker shoes and partywear shoes Casua...',
 'STYLISH MENS BLACK AND WHITE SNEAKER Sneakers For Men',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'Sneakers For Men',
 'Sneakers For Men',
 "Echor Men's Sneakers Fashion Lightweight Running Shoes ...",
 'Series 7 Sneakers For Men',
 'Sneaker Sneakers For Men',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 'Modern & Trendy Collection Combo Pack of 02 Shoes for M...',
 'Sneakers For Men',
 'Modern & Trendy Collection Combo Pack of 02 Shoes for M...',
 'CR-1 Sneakers For Men',
 'Sneakers For Men',
 'Lattest Sneakers Shoe Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack Of 2 Latest Stylish Casual Shoes for Men Lac...',
 'Luxury Fashionable casual sneaker shoes Sneakers For Me...',
 'Ferrari Electron E Pro Sneakers For Men',
 'Sneakers For Men',
 'Luxury Fashionable casual sneaker shoes Sneakers For Me...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Shark-41 Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men']

In [89]:
price=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
prices=[]
for i in price:
    prices.append(i.text)
prices

['₹399',
 '₹252',
 '₹448',
 '₹649',
 '₹379',
 '₹259',
 '₹199',
 '₹429',
 '₹399',
 '₹449',
 '₹198',
 '₹620',
 '₹299',
 '₹360',
 '₹199',
 '₹499',
 '₹499',
 '₹299',
 '₹298',
 '₹630',
 '₹567',
 '₹448',
 '₹499',
 '₹249',
 '₹499',
 '₹680',
 '₹299',
 '₹995',
 '₹359',
 '₹561',
 '₹449',
 '₹3,769',
 '₹379',
 '₹425',
 '₹616',
 '₹995',
 '₹499',
 '₹494',
 '₹448',
 '₹995']

In [90]:
discnt=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
discount=[]
for i in discnt:
    discount.append(i.text)
discount

['60% off',
 '49% off',
 '55% off',
 '59% off',
 '75% off',
 '80% off',
 '60% off',
 '79% off',
 '80% off',
 '70% off',
 '80% off',
 '38% off',
 '55% off',
 '64% off',
 '60% off',
 '67% off',
 '50% off',
 '77% off',
 '70% off',
 '37% off',
 '77% off',
 '55% off',
 '80% off',
 '50% off',
 '50% off',
 '32% off',
 '77% off',
 '50% off',
 '64% off',
 '78% off',
 '65% off',
 '42% off',
 '62% off',
 '79% off',
 '59% off',
 '50% off',
 '50% off',
 '51% off',
 '55% off',
 '50% off']

In [ ]:
Q7: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”, as shown inthe below image.

In [91]:
url3='https://www.myntra.com/shoes'

In [92]:
driver.get(url3)

In [101]:
filter1=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')

filter2=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
filter1.click()
filter2.click()

In [ ]:
productdescription=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
shoe_description=[]
for i in productdescription:
    shoe_description.append(i.text)
shoe_description

In [ ]:
driver.find_element_by_Xpath('

In [103]:
priceofshoes=driver.find_elements_by_xpath('//span[@class="product-discountedPrice"]')
shoes_price=[]
for i in priceofshoes:
    shoes_price.append(i.text)
shoes_price

['Rs. 9099',
 'Rs. 7649',
 'Rs. 8499',
 'Rs. 7224',
 'Rs. 8499',
 'Rs. 8499',
 'Rs. 9099',
 'Rs. 8249',
 'Rs. 8579',
 'Rs. 8499',
 'Rs. 10500',
 'Rs. 7739',
 'Rs. 8399',
 'Rs. 7739',
 'Rs. 8399']

Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:
After

In [5]:
url='https://www.amazon.in/'
driver.get(url)

In [6]:
search_field=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search_field
search_field.send_keys("Laptop")
search_btn=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search_btn.click()

In [7]:
filter_check=driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[4]/li[13]/span/a/div/label/i')
filter_check.click()

In [20]:
title=driver.find_elements_by_xpath('//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
Title=[]
for i in title:
    Title.append(i.text)
Title

['Fujitsu UH-X 11th Gen Intel Core i7 13.3” FHD IPS 400Nits Thin & Light Laptop(16GB/512GB SSD/Windows 11/Office 2021/Iris Xe Graphics/Backlit Kb/Fingerprint Reader/2Yr Warranty/Black/878gms),4ZR1F38024',
 'ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) FHD 144Hz, Intel Core i7-11600H 11th Gen, 4GB RTX 3050 Graphics, Gaming Laptop (16GB/512GB SSD/Windows 10/Office 2019/Gray/2.3 Kg), FX566HCB-HN299TS',
 'ASUS VivoBook 14 (2021), 14-inch (35.56 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Integrated Graphics/Office 2021/Windows 11/Silver/1.6 Kg), X415JA-EK701WS',
 'Mi Notebook Ultra 3.2K Resolution Display Intel Core i7-11370H 11th Gen 15.6-inch(39.62 cm) Thin and Light Laptop (16GB/512GB SSD/Iris Xe Graphic/Win 10/MS Office/Backlit KB/Fingerprint Sensor/1.7Kg)',
 'HP Pavilion x360 11th Gen Intel Core i7 14 inches FHD, IPS, Convertible Laptop (16 GB RAM/512GB SSD, B&O/Win 11 Home/Backlit keyboard/FPR/ Alexa-Built in/MS Office/Natural Silver/1.52 Kg) -14-dy1013TU',
 'Microsoft Surface Studio 14.4 inches Touchscreen Intel ® Core i7 Laptop (32GB Memory, Windows 11 Home, 2TB SSD - Platinum, 2.664Kg)',
 'Dell 14 (2021) i7-1195G7 2in1 Touch Screen Laptop, 16GB, 512Gb SSD, Win 11 + MSO\'21, 14" (35.56 cms) FHD, Platinum Silver Color, FPR + Backlit KB & Active Pen (Inspiron 5410, D560629WIN9S)',
 'ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) FHD 144Hz, Intel Core i7-11600H 11th Gen, 4GB RTX 3050 Graphics, Gaming Laptop (16GB/512GB SSD/Windows 10/Office 2019/Gray/2.3 Kg), FX566HCB-HN299TS',
 '(Renewed) Acer Nitro 5 11th Gen Intel Core i5-11400H 15.6" (39.62cms) FHD 144Hz Gaming Laptop (8 GB/512GB SSD/Win 10/4 GB Graphics/NVIDIA GeForce GTX 1650/Shale Black, 2.2 kg/RGB Backlit Keyboard) AN515-57',
 'Lenovo ThinkBook Yoga 14s Intel Core i7 11th Gen 14"(35.56cm) FHD IPS 300 nits 100% sRGB Dolby Vision 2-in-1 Touchscreen Laptop (16GB RAM/512GB SSD/Windows 10/MS Office/Active Pen/1.50 kg) 20WEA01EIH',
 '(Renewed) HP Elitebook 840 G4 Notebook PC Intel i7-7500U, 8GB RAM, 256GB SSD, Win10 Pro-64, 14-inch Touch screen Full HD.',
 'Lenovo IdeaPad 5 Pro 11th Gen Intel Core i7 14 inches QHD IPS Thin and Light Laptop (16GB/512GB SSD/Iris Xe Graphics/Windows 11/Office 2021/Backlit/300Nits/Storm Grey/1.41Kg), 82L3006YIN',
 'Lenovo ThinkBook 13s Intel 11th Gen Core i7 13.3"(33.78 cm) WQXGA IPS 300 nits 100% sRGB Dolby Vision Thin and Light Laptop (16GB/512GB SSD/Windows 10/MS Office/FPR/Mineral Grey/1.26 Kg), 20V9A05FIH',
 'LG Gram 14 inches Ultra-Light Intel Evo 11th Gen Core i7 Laptop (16 GB RAM, 512 GB SSD, New Windows 11 Home Preload, Iris Xe Graphics, USC -C x 2 (with Power), 0.999Kg, (14Z90P-G.AH85A2, Black)',
 'Dell G15 5511 Intel i7-11800H Gaming Laptop,16GB DDR4,512GB SSD, Win 11+MSO\'21, NVIDIA RTX 3060 6GB GDDR6,15.6" (39.62cm) FHD AG 300 nits 165Hz, Backlit KB RGB, Black (D560670WIN9B), 2.6kg',
 'HP Pavilion x360 11th Gen Intel Core i7 14 inches FHD, IPS, Convertible Laptop (16 GB RAM/512GB SSD, B&O/Win 11 Home/Backlit keyboard/FPR/ Alexa-Built in/MS Office/Natural Silver/1.52 Kg) -14-dy1013TU',
 'Dell G15 Intel i7-11800H Gaming Laptop, 16GB DDR4, 512GB SSD, Win 10+MSO, NVIDIA RTX 3050 Ti 4GB GDDR6, 15.6" (39.62cm) FHD AG 250 nits 120Hz, Backlit KB Orange, Grey (G15 5511, D560640WIN9B), 2.6kg',
 'Dell 15 (2021) i7-11390H, 16GB, 1TB SSD, Win 11 + MS Office\'21, NVIDIA MX450 2GB, 15.6" (39.62 cms) FHD Display, Silver Color, FPR + Backlit KB (Inspiron 5518, D560636WIN9S)',
 'HP Pavilion 14, 11th Gen Intel Core i7-16GB RAM/1TB SSD 14 inch(35.6 cm) Laptop/Intel Iris Xe Graphics/Backlit Keyboard/Alexa/B&O Audio/Fast Charge/FPR/Win 11/MS Office, 14-dv1029TU',
 'MSI Katana GF66 Gaming, Intel i7-11800H, 15.6" FHD IPS-Level 144Hz Panel Laptop (16GB/512GB NVMe SSD/Windows 10 Home/Nvidia RTX3050Ti 4GB GDDR6/Black/2.25Kg), 11UD-476IN',
 'Dell Inspiron 13 5310 , 13.3 inch QHD (Quad High Definition) Non-Touch Laptop, Slim and Light Laptop - Intel Core i7 Evo, 16GB LPDDR4x RAM, 512GB SSD, Windows 10 - Platinum Silver (Latest Model)',
 '(Renewed) HP 840g3 Elitebook 14 Inch Screen Laptop (6th Gen Intel Core i7 - 6600u /4 GB/180 GB SSD/Windows 10 Pro), Black',
 '(Renewed) Dell Intel Core i7 4th Gen 14 Inch(35.56 cms) 1366x768 HD Laptop (8GB RAM/500GB HDD/Windows 10 Pro/MS Office 2019/Intel Integrated HD Graphics 4600/2.1Kg,Silver) Latitude E6440',
 '(Renewed) Lenovo Intel 5th Gen Core i7 14 Inch(35.56 cms) 1366 x 768 HD Laptop (16GB RAM /1TB SSD/Windows 10 Pro/MS Office/ Intel HD graphics,Black,2.0kg) Lenovo ThinkPad T450',
 '(Renewed) Life Digital Laptop 15.6-inch (39.62 cms) (Intel Core i7, 8GB RAM, 512GB SSD, Windows 10), ZED AIR CX7',
 'Lenovo Yoga Slim 7 11th Gen Intel Core i7 14 inches FHD IPS Touchscreen Fabric Surface Thin and Light Laptop (16GB/1TB SSD/Win 10 Home/Office/Iris Graphics/Fingerprint Reader/Slate Grey/1.33Kg)',
 '(Renewed) Lenovo Intel 4th Gen Core i7 15.6 Inch(39.62 cms) 1366 x 768 1366 X 768 Laptop (16GB RAM /1TB HDD/Windows 10 Pro/MS Office/ NVIDIA Graphics,Black,2.5kg) Lenovo ThinkPad w540',
 'HP Envy x360 Convertible Touchscreen 33.78 cm (13.3-inch) FHD Laptop (11th Gen Intel Core i7-1165G7/16GB/512GB SSD/Win 10 Home/Alexa Built-in/Pale Gold/1.32kg), 13-bd0063TU',
 'Acer Predator Helios 300 11th Gen Intel Core i9-11900H 15.6 inches FHD IPS Display Gaming Laptop (16GB/1TB SSD/Windows 11 Home/6GB Graphics/NVIDIA GeForce RTX 3060/300 Hz, Black, 2.3Kg) PH315-54',
 'ASUS VivoBook 14 (2021), 14-inch (35.56 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Integrated Graphics/Office 2021/Windows 11/Silver/1.6 Kg), X415JA-EK701WS']

In [24]:
ratings=driver.find_elements_by_xpath('//div[@class="a-row a-size-small"]')
Rating=[]
for i in ratings:
    Rating.append(i.text)
Rating

['38',
 '3',
 '21',
 '904',
 '76',
 '44',
 '2',
 '3',
 '38',
 '9',
 '3',
 '47',
 '84',
 '76',
 '9',
 '1',
 '131',
 '7',
 '6',
 '4',
 '19',
 '27',
 '21']

In [22]:
price=driver.find_elements_by_xpath('//span[@class="a-price"]')
Price=[]
for i in price:
    Price.append(i.text)
Price

['₹83,990',
 '₹89,490',
 '₹57,490',
 '₹77,499',
 '₹91,800',
 '₹3,73,999',
 '₹97,000',
 '₹89,490',
 '₹55,992',
 '₹87,990',
 '₹39,990',
 '₹80,900',
 '₹89,990',
 '₹81,999',
 '₹1,25,510',
 '₹91,800',
 '₹1,03,900',
 '₹99,700',
 '₹93,500',
 '₹99,999',
 '₹1,09,299',
 '₹38,290',
 '₹35,199',
 '₹47,199',
 '₹30,990',
 '₹1,08,999',
 '₹46,999',
 '₹1,10,500',
 '₹1,39,445',
 '₹57,490']

In [25]:
clear_filter=driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[4]/li[1]/span/a/span[2]')
clear_filter.click()

In [26]:
filter_check2=driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[4]/li[12]/span/a/div/label/i')
filter_check2.click()

In [27]:
title2=driver.find_elements_by_xpath('//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
Title2=[]
for i in title2:
    Title2.append(i.text)
Title2

['HP Pavilion 14,11th Gen Intel Core i5 16GB RAM/512GB SSD 14 inch(35.6 cm),FHD IPS Anti-Glare Display/Intel Iris Xe Graphics/Backlit KB/B&O Audio/FPR/Win 11/Thin & Light/1.41kg, 14-dv1001TU',
 'HP 15s- Ryzen 5- 8GB RAM/512GB SSD 15.6 inch(39.6cm) FHD,Micro-Edge, Anti-Glare Display (AMD Radeon Graphics/Alexa/Dual Speakers/Fast Charge/Win 11/MS Office), 15s-eq2144au, Natural Silver',
 'ASUS ROG Strix Scar 17 (2022), 17.3-inch (43.94 cms) 2K WQHD 240Hz/3ms, Core i9-12900H 12th Gen, RTX 3070 Ti 8GB Graphics, Gaming Laptop (32GB/2TB SSD/Win 11/Office 2021/Black/2.9 Kg), G733ZW-LL105WS',
 'ASUS TUF Gaming F15 (2021), 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i9-11900H 11th Gen, RTX 3060 6GB Graphics Gaming Laptop (16GB RAM/1TB SSD/Office 2019/Windows 10/Gray/2.3 kg), FX566HM-HN097TS',
 'ASUS TUF Gaming F15 (2021), 15.6-inch (39.62 cms) FHD 240Hz/3ms, Intel Core i9-11900H 11th Gen, RTX 3060 6GB Graphics Gaming Laptop (16GB/1TB SSD/Office 2019/Windows 10/Black/2.3 kg), FX506HM-AZ099TS',
 'ASUS ROG Strix SCAR 15 (2022), 15.6-inch (39.62 cms) 2K WQHD 240Hz/3ms, Core i9-12900H 12th Gen, RTX 3080 Ti 16GB Graphics, Gaming Laptop (32GB/1TB SSD/Win 11/Office 2021/Black/2.3 Kg), G533ZX-LN024WS',
 'ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) FHD 240Hz, Intel Core i9-11900H 11th Gen, GeForce RTX 3060 6GB Graphics, Gaming Laptop(16GB/1TB SSD/Office 2019/Windows 10/Gray/2.3 Kg), FX566HM-AZ096TS',
 "Dell 14 (2021) Intel i5-1135G7 14 inches FHD Display Laptop, 8GB, 1TB + 256Gb SSD, Windows 11 + MS Office'21, Integrated Graphics, Dune Color, Backlit KB (Vostro 3400, D552231WIN9D), 1.59Kg",
 'MSI Modern 14, Intel i5-10210U, 14" FHD IPS-Level 60Hz Panel Laptop (8GB/512GB NVMe SSD/Windows 10 Home/Intel UHD Graphics/Carbon Grey/1.3Kg), B10MW-639IN',
 'ASUS ROG Strix Scar 15 (2022), 15.6-inch (39.62 cms) 2K WQHD 240Hz/3ms, Core i9-12900H 12th Gen, RTX 3070 Ti 8GB Graphics, Gaming Laptop (32GB/2TB SSD/Win 11/Office 2021/Black/2.3 Kg), G533ZW-LN106WS',
 'HP ZBOOK Power G8/ Intel core i9-11900H 8 Core/32GB DDR4 3200 RAM/1TB PCIe NVMe TLC SSD /15.6” FHD /Nvidia Quadro T1200 Dedicated Graphics 4GB DDR6 /Windows 10 Pro / 3 Year Warranty',
 '(Renewed) HP Omen 15-dh0139TX Gaming Laptop (9th Gen i9-9880H/16GB/1TB HDD + 512GB SSD/Win 10/8GB NVIDIA RTX 2080 Graphics) & Z3700 Wireless Mouse',
 'HP ZBook Power G8/ Intel Core i9-11950H 2.5GHz 8 Core/64GB DDR4/ 2TB PCIe NVMe SSD /15.6” FHD/Nvidia Quadro RTX A2000 Graphics 4GB DDR6/ 1RJ45/ Windows 10 Pro/ 3 Year Warranty from HP',
 '(Renewed) Dell G7 7500 15.6inch FHD 300 Hz Display Gaming Laptop (10th Gen i9-10885H / 16 GB / 1TB SSD / NVIDIA RTX 2070 8GB Graphics / 1Yr Premium Warranty / Win 10 + MS Office H&S 2019) D560233WIN9B, Black',
 'Dell Precision 5550 || i9 -10885H || 16GB || 1TB NVMe || T2000 4 GB || Win 10 Pro (Free Upgrade Win 11Pro) / 15.6 FHD+ / 3 Year ADP',
 'MSI Modern 14, Intel i3-1115G4, 14" FHD IPS-Level 60Hz Panel Laptop (8GB/512GB NVMe SSD/Windows 10 Home/Intel UHD Graphics/Carbon Grey/1.3Kg), B11MOU-862IN',
 'MSI GF75 Thin, Intel i5-10300H, 17.3" FHD IPS-Level 144Hz Panel Laptop (8GB/512GB NVMe SSD/Windows 10 Home/Nvidia GTX1650 4GB GDDR6/Black/2.2Kg), 10SC-095IN']

In [32]:
ratings2=driver.find_elements_by_xpath('//div[@class="a-row a-size-small"]')
Rating2=[]
for i in ratings2:
    Rating2.append(i.text)
Rating2

['1,747', '302', '8', '8', '11', '22', '1', '1', '270']

In [36]:
price2=driver.find_elements_by_xpath('//span[@class="a-price"]')
Price2=[]
for i in price2:
    Price2.append(i.text)
Price2

['₹67,490',
 '₹35,990',
 '₹2,79,135',
 '₹1,48,990',
 '₹1,43,990',
 '₹2,99,990',
 '₹1,54,879',
 '₹59,190',
 '₹47,990',
 '₹2,64,990',
 '₹2,32,000',
 '₹1,38,000',
 '₹2,93,000',
 '₹1,72,000',
 '₹2,25,000',
 '₹44,490',
 '₹59,990']

Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company. This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/

In [37]:
url='https://www.ambitionbox.com/'
driver.get(url)

In [47]:
job_tag=driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[6]')
job_tag.click()

In [49]:
search_place=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/div/span/input')
search_place.send_keys("Data Scientist")

In [50]:
search_button=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/button/span')
search_button.click()

In [54]:
location=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[1]/i')
location.click()

In [56]:
srch_box=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
srch_box.click()

In [57]:
srch_box.send_keys("Noida")

In [58]:
slct_noida=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
slct_noida.click()

In [67]:
jobs=driver.find_elements_by_xpath('//a[@class="title noclick"]')
job=[]
for i in jobs:
    job.append(i.text)
job

['',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'Data Scientist with NLP & Python',
 'Data Scientist']

In [69]:
company_tag=driver.find_elements_by_xpath('//p[@class="company body-medium"]')
company_name=[]
for i in company_tag:
    company_name.append(i.text)
company_name

['',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'RATEGAIN TRAVEL TECHNOLOGIES LIMITED',
 'Hanu Software Solutions Pvt Ltd']

In [ ]:
Jobs_name=pd.DataFrame(jobs_name)

Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary. The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/

In [3]:
url='https://www.ambitionbox.com/'
driver.get(url)

In [4]:
salary_optn=driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[4]')
salary_optn.click()

In [8]:
search_place2=driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
search_place2.send_keys("Data Scientist")

In [9]:
click_data=driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]')
click_data.click()

In [25]:
cmpny_name=driver.find_elements_by_xpath('//div[@class="name"]')
company=[]
for i in cmpny_name:
    company.append(i.text)
company

['Ab Inbev\nbased on 28 salaries',
 'ZS\nbased on 15 salaries',
 'Optum\nbased on 25 salaries',
 'Fractal Analytics\nbased on 77 salaries',
 'Tiger Analytics\nbased on 33 salaries',
 'UnitedHealth\nbased on 52 salaries',
 'Verizon\nbased on 14 salaries',
 'Ganit Business Solutions\nbased on 13 salaries',
 'Ericsson\nbased on 43 salaries',
 'Deloitte\nbased on 57 salaries']

In [30]:
ttl_slry=driver.find_elements_by_xpath('//div[@class="name"]')
ttlslry=[]
for i in ttl_slry:
    ttlslry.append(i.text)
ttlslry

['Ab Inbev\nbased on 28 salaries',
 'ZS\nbased on 15 salaries',
 'Optum\nbased on 25 salaries',
 'Fractal Analytics\nbased on 77 salaries',
 'Tiger Analytics\nbased on 33 salaries',
 'UnitedHealth\nbased on 52 salaries',
 'Verizon\nbased on 14 salaries',
 'Ganit Business Solutions\nbased on 13 salaries',
 'Ericsson\nbased on 43 salaries',
 'Deloitte\nbased on 57 salaries']

In [34]:
avg_slry=driver.find_elements_by_xpath('//p[@class="averageCtc"]')
avgslry=[]
for i in avg_slry:
    avgslry.append(i.text)
avgslry

['₹ 26.6L',
 '₹ 23.3L',
 '₹ 21.2L',
 '₹ 21.1L',
 '₹ 21.1L',
 '₹ 20.1L',
 '₹ 19.6L',
 '₹ 19.4L',
 '₹ 19.1L',
 '₹ 18.7L']

In [37]:
min_slry=driver.find_elements_by_xpath('//div[@class="value body-medium"]')
minslry=[]
for i in min_slry:
    minslry.append(i.text)
minslry

['₹ 10.4L',
 '₹ 40.0L',
 '₹ 13.0L',
 '₹ 45.0L',
 '₹ 12.0L',
 '₹ 30.0L',
 '₹ 12.5L',
 '₹ 32.0L',
 '₹ 7.5L',
 '₹ 31.0L',
 '₹ 12.0L',
 '₹ 30.0L',
 '₹ 12.0L',
 '₹ 26.0L',
 '₹ 8.0L',
 '₹ 43.0L',
 '₹ 10.1L',
 '₹ 32.5L',
 '₹ 12.0L',
 '₹ 30.0L']

In [38]:
max_slry=driver.find_elements_by_xpath('//div[@class="value body-medium"]')
maxslry=[]
for i in max_slry:
    maxslry.append(i.text)
maxslry

['₹ 10.4L',
 '₹ 40.0L',
 '₹ 13.0L',
 '₹ 45.0L',
 '₹ 12.0L',
 '₹ 30.0L',
 '₹ 12.5L',
 '₹ 32.0L',
 '₹ 7.5L',
 '₹ 31.0L',
 '₹ 12.0L',
 '₹ 30.0L',
 '₹ 12.0L',
 '₹ 26.0L',
 '₹ 8.0L',
 '₹ 43.0L',
 '₹ 10.1L',
 '₹ 32.5L',
 '₹ 12.0L',
 '₹ 30.0L']

In [42]:
exp_tag=driver.find_elements_by_xpath('//div[@class="salaries sbold-list-header"]')
exp=[]
for i in exp_tag:
    exp.append(i.text.replace("Software Engineer\n . \n",""))
exp

['1 yr exp',
 '1-4 yrs exp',
 '2 yrs exp',
 '3-4 yrs exp',
 '1-4 yrs exp',
 '1-2 yrs exp',
 '2-4 yrs exp',
 '1-4 yrs exp',
 '1-4 yrs exp',
 '1-2 yrs exp']

In [43]:
jobs3=pd.DataFrame()
jobs3['Job Titles']=company[0:10]
jobs3['total salary']=ttlslry[0:10]
jobs3['average salary']=avgslry[:10]
jobs3['minimum salary']=minslry[:10]
jobs3['maximum salary']=maxslry[:10]
jobs3['Experience']=exp[:10]
jobs3

,Job Titles,total salary,average salary,minimum salary,maximum salary,Experience
0,Ab Inbev\nbased on 28 salaries,Ab Inbev\nbased on 28 salaries,₹ 26.6L,₹ 10.4L,₹ 10.4L,1 yr exp
1,ZS\nbased on 15 salaries,ZS\nbased on 15 salaries,₹ 23.3L,₹ 40.0L,₹ 40.0L,1-4 yrs exp
2,Optum\nbased on 25 salaries,Optum\nbased on 25 salaries,₹ 21.2L,₹ 13.0L,₹ 13.0L,2 yrs exp
3,Fractal Analytics\nbased on 77 salaries,Fractal Analytics\nbased on 77 salaries,₹ 21.1L,₹ 45.0L,₹ 45.0L,3-4 yrs exp
4,Tiger Analytics\nbased on 33 salaries,Tiger Analytics\nbased on 33 salaries,₹ 21.1L,₹ 12.0L,₹ 12.0L,1-4 yrs exp
5,UnitedHealth\nbased on 52 salaries,UnitedHealth\nbased on 52 salaries,₹ 20.1L,₹ 30.0L,₹ 30.0L,1-2 yrs exp
6,Verizon\nbased on 14 salaries,Verizon\nbased on 14 salaries,₹ 19.6L,₹ 12.5L,₹ 12.5L,2-4 yrs exp
7,Ganit Business Solutions\nbased on 13 salaries,Ganit Business Solutions\nbased on 13 salaries,₹ 19.4L,₹ 32.0L,₹ 32.0L,1-4 yrs exp
8,Ericsson\nbased on 43 salaries,Ericsson\nbased on 43 salaries,₹ 19.1L,₹ 7.5L,₹ 7.5L,1-4 yrs exp
9,Deloitte\nbased on 57 salaries,Deloitte\nbased on 57 salaries,₹ 18.7L,₹ 31.0L,₹ 31.0L,1-2 yrs exp